body{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column; 

}
#register {
width: 328px;
height: 120px;
left: 654px;
top: 1219px;

background: #8F758E;
border: 8px solid #735372;
box-sizing: border-box;
border-radius: 37px;

font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 60px;
line-height: 70px;
text-align: center;

color: #F5F5F5;
}

#logo {
  background-image: url(../assets/logo.png);
  margin-top: 0.2cm;
  height: 200px;
  background-size: 209px;
  background-repeat: no-repeat;
  margin-left: 70px;
}

#name {
width: 483px;
height: 120px;
left: 39px;
top: 633px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 53px;

color: #313848;
}

#rut {
width: 483px;
height: 120px;
left: 39px;
top: 823px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 53px;

color: #313848;
}

#uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}