body{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column; 

}
#register {
  width: 40%;
  left: 654px;
  top: 1219px;

  background: #3088fa;
  border: 3px solid #3088fa;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  padding: 1% 2%;
  text-align: center;
  float: right;

  color: #F5F5F5;
}

#myList {
  width: 96%;
  background: #E5E5E5;
  border: 2px solid #3088fa;
  box-sizing: border-box;
  margin: 1% 0 1% 0;
  padding: 4%;
}

#logo {
  background-image: url(../assets/logo.png);
  margin-top: 1%;
  height: 200px;
  background-size: 209px;
  background-repeat: no-repeat;
  margin-left: 70px;
}

#name , #rut {
 
  margin:0 0 2% 0;
  left: 39px;
  top: 633px;
  border-color: #3088fa;
  padding: 2%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
 

  color: #3088fa;
}
